@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif !important;
}

.hero-header{
    height: 80vh;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.hero-header .header{
    background: white;
    text-align:center;
    padding: 1rem;
    opacity: .9;
}

.blog-cards{
    margin-bottom: 0px!important;
}

/**for small screens*/
@media only screen and (max-width: 600px) {
    .hero-header {
        height: 60vh;
    }
    .storeview {
        margin-top:40px;
        width: 300px;
        height: 300px;
        border-radius: 500px;
        background-color: #00c30094;
        margin-bottom: 50px;
    }
    .storeview img{
        width: 250px;
        margin-top:-10px;
    }
    
    .blog-cards {
        padding-top: 38px;
        background-color: #f2f2f2;
    }
}
