#disqus_thread {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-dark{
  background-color:#4D4D4D!important;
}

.navbar-brand img{
  width: 200px;
}

nav.navbar{
  padding-top:0px!important;
  padding-bottom: 0px!important;
}

svg {
width: 20px;
  height: 25px;
  margin-top: 5px;
  color: #626262;
  
}

.social{
  text-align: center
}

/**for small screens*/
@media only screen and (max-width: 650px) {
  img.rounded-circle {
    width: 90px!important;
  }
}