body{
	background-color: white;
	margin:0px;
}

.logo_container{
	background-color: #272C37;
	padding-top:25px;
	padding-bottom: 25px; 
}

.logo{
	height: 210px;
	width: 740px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img1{
	height: 170px;
	padding-bottom: 11px ;
}
#img2{
	height: 200px;
}

.buttons{
	text-align: center;
	background-color:#272C37;
	padding-bottom:18px;
	padding-top:10px;
	font-family:  'Barlow Semi Condensed';
	font-size: 25px;
}

.buttons a,
.buttons a:visited{
	text-align: center;
	color: white;
	text-decoration: none;
	margin-left:35px;
	margin-right: 35px;
	transition: all 0.5s ease-out;
}

.buttons a:hover{
	color: #adfb00;
	transition: all 0.5s ease-in;
}


div.strip{
	background-image: url("tile2.png");
  background-color: #272c37;
	background-repeat: repeat-x;
	height: 10px;
	z-index: 50;
}

div.strip #left_strip{
	background-color: #adfb00;
	width:10%;
	float:left;
	height: 10px;
}

div.strip #right_strip{
	background-color: #adfb00;
	width:10%;
	float:right;
	height: 10px;
}

div.dukkan{
	background-color: black;
	width:100%;
	line-height: 0;
}
div.dukkan img{
	width: 100%;
	opacity:30%;
}
div.dukkan .strip{
	height: 5px;
	background-color: #13240a;
}

div.dukka4n p{
	position:  absolute;
	z-index: 1;
	display: table-cell;
	color:white;
	font-family:  'Barlow Semi Condensed';
	font-size: 40px;
	width: 100%;
	text-align: center;
	margin-top: 250px;
}

div.section1 {
	font-family: 'Barlow Semi Condensed';
	font-size: 50px;
	text-align: center;
	color:#272c37;
	padding-top: 100px;
	padding-bottom:100px;
}

